.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  min-height: 10vh;
  color: #fff;
  background-color: rgb(64, 70, 100);
  margin: -9px;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}